DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DOMAIN_URL=http://127.0.0.1:8000

STRIPE_DEFAULT_CURRENCY=usd
STRIPE_SECRET_KEY_USD=sk_test_replace_with_real_key
STRIPE_PUBLISHABLE_KEY_USD=pk_test_replace_with_real_key
STRIPE_SECRET_KEY_RUB=sk_test_replace_with_real_key
STRIPE_PUBLISHABLE_KEY_RUB=pk_test_replace_with_real_key
